@charset "utf-8";
body {color:#333333;  font-family:"宋体", "微软雅黑", Verdana, Geneva, Arial, Helvetica, Tahoma; font-size:12px;}
a{color:#333333; text-decoration:none;}
a:hover {color:#eb6100; text-decoration:underline;}
.red {color:red }
.org{color:#eb6100;}
.gray{color:#888888;}
.odd{ background-color:#f9f9f9;}
.over{ background-color:#DAECFD;}
.blue{color:#44719a;}
.gengduo {border-bottom:none; text-align:right;}
.bgGray {background-color:#f9f9f9;}
.bgdg {background-color:#eeeeee;}
.zsbold {color:#44719a; font-weight:bold;}
.section{width:1024px; margin:20px auto 0 auto;}
.book_center{width:584px;}
.book_top_potent, .book_recom_key , .book_recom_good,.book_vip, .book_recom_editor, .book_recom_box, .book_topic, .book_side, .girl_pub{width:200px;}
.v1_title {width:100%; height:33px; font-family:"微软雅黑"; font-size:16px; color:#333333; background-color:#FFFFFF; border-bottom:3px solid #44719a; position: relative;}
.v1_title .snav {position:absolute; right:0; top:0; display:block; text-align:center; font-family:"宋体"; font-size:12px;}
.v1_title .snav a {display:inline-block; width:36px; height:21px; line-height:21px; cursor:pointer; background-color:#f9f9f9;}
.v1_title .snav a:hover {color:#FFFFF; text-decoration:none;}
.v1_title .snav .son { height:21px; color:#FFFFFF; background:url(../images/icon_spr.png) no-repeat -35px -28px; padding-bottom:5px;}
.v1_title .snav .soff { height:21px;  padding-bottom:5px;}
.v1_title .snav .ffoff { height:21px;  padding-bottom:5px;}
.v1_content {width:100%;}
.v1_content ol {}
.v1_content li,.book_recom_key  li.no1 {clear:both; line-height:26px; height:26px; overflow:hidden}
.v1_content li.gengduo {text-align:right; color:#888888; padding-right:15px;}
.v1_img {float:left; padding-left:10px;}
.v1_img img{width:80px; height:100px;} 
.v1_con {line-height:24px; margin-left:96px;}
.v1_name {font-size:14px; font-weight:bold;height: 24px;overflow: hidden;}
.v1_info {height:24px; word-wrap:break-word; word-break:break-all; margin-bottom:0px; overflow:hidden;}
.v1_content li a{display:block; padding-left:34px; height:100%; position:relative;}
.v1_content li a:hover{background-color:#44719a; color:#FFFFFF; text-decoration:none;}
.v1_content li a:hover i {color:#999999; background-color:#EEEEEE;}
.v1_content li.no1 a:hover i, .v1_content li.no2 a:hover i, .v1_content li.no3 a:hover i{color:#FFFFFF; background-color:#eb6100;}
.v1_content li.first a, .v1_content li.gengduo a {display:inline; padding:0; background:none;}
.v1_content li.gengduo a{color:#888888;}
.v1_content li.first a:hover, .v1_content li.gengduo a:hover {color:#eb6100; padding:0; background:none;}
.v1_content li.first {padding:8px 0; border-bottom:none; height:100px; overflow:hidden}
.v1_content li i {display:block; width:14px; height:14px; line-height:14px; text-align:center; font-size:12px; color:#999999; background-color:#EEEEEE; position:absolute; left:10px; top:7px;}
.v1_content li.no1 i, .v1_content li.no2 i, .v1_content li.no3 i{color:#FFFFFF; background-color:#eb6100;}
.view1_center {float:left; width:584px; margin-left:20px;}
.v1_c_tab {width:100%; height:33px; border-top:3px solid #44719a;}
.v1_c_tab ul li {font-size:14px; width:16.66%; line-height:33px; float:left; text-align:center; cursor:pointer;}
.v1_c_tab ul li#f6{ float:right;}
.v1_c_tab ul .fon {float:left; color:#FFFFFF; background-color:#44719a;}
.v1_c_tab ul .fsplit {float:left; width:1px; height:30px;}
.v1_c_con {width:100%; background-color:#f9f9f9; padding-bottom:10px;  }
.v1_c_con_list {width:276px; padding-left:10px; padding-top:10px; float:left;}
.c_con_list_img {width:100px; float:left;}
.c_con_list_text {overflow:hidden; line-height:20px; word-wrap:break-word; word-break:break-all;}
.c_con_list_title {font-size:14px;}
.c_con_list_read {margin-top:2px; text-align:left;}
.c_con_list_read a {color:#eb6100;}
.v1_c_cement {float:left; margin-top:15px; padding:15px 0 15px 0; width:100%;}
.v1_c_cement_title {float:left; width:52px; height:100%;}
.v1_c_cement_title span{display:block; width:100%; text-align:center;}
.v1_c_cement_title span.bubble{margin:0 auto; width:26px; height:24px; background:url(../images/icon_spr.png) no-repeat left -28px;}
.v1_c_cement_title span.title{font-family:"黑体"; font-size:22px; color:#44719a;} 

.v1_c_cement_con {width:532px; float:right}
.v1_c_cement_con ul li {float:left; padding-left:12px; width:250px; height:22px; line-height:22px; background:url(../images/icon_list_style.png) no-repeat left 8px; overflow:hidden;}
.v1_c_cement_con ul .more {float:right; width:60px; margin:2px 5px 2px 0px;}
.v1_c_cement_con ul .more a {color:#F07200; font-size:13px;}
.v1_c_cement_con ul .more a:hover {color:#ff0000; font-size:13px; font-weight:bold;}

.book_hot {width:804px;}
.book_hot_title {background-image:url(../images/index_fengtui.jpg); width:750px; height:21px; padding-left:10px; padding-top:10px;}
.book_hot_con{width:100%; overflow:hidden;}
.book_hot_list{ padding-top:10px; margin-right:-3px;overflow:hidden; }
.book_hot_list ul li{float:left; margin-right:3px; margin-bottom:1px; position:relative;}
.book_hot_list ul li.last{margin:0;}
.book_center ul li{margin-right:6px; margin-bottom:6px;}
.book_center .book_hot_list {padding-top:10px; margin-right:-6px;}
.book_hot_img {width:112px; height:140px;}
.book_hot_info,.book_info_inner{position:absolute; z-index:10; left:0; width:100%; bottom:0; background:#000; padding:3px 0; opacity:0.8; filter:Alpha(opacity=80);}
.book_hot_info span{display:block; padding:0 3px; color:#CCCCCC; line-height:16px; height:16px; overflow:hidden}
.book_hot_info .book_hot_name a{color:#FFFFFF;}
.book_hot_info .book_hot_author a{color:#CCCCCC;}

.book_recom_bang {width:584px;}
.book_bang_title { width:100%; height:33px; border-bottom:1px solid #888888} 
.title_bd, .title_more{display:inline-block; width:auto;}
.title_bd{font-family:"微软雅黑"; padding-bottom:10px;font-size:16px; color:#333333; background-color:#FFFFFF; border-bottom:3px solid #44719a;}
.title_more{float:right; padding-right:5px; line-height:34px;}
.book_bang_con {float:left; padding-top:10px; width:100%; background-color:#FFFFFF;}
.v3_dashang_con_img {float:left;}
.dashang_con_img {margin-left:11px; margin-top:11px; margin-bottom:10px; padding:2px; width:100px; border:1px solid #dfdfdf; float:left;}
.v3_dashang_con_text {float:left; width:470px; border-top:1px dashed #dfdfdf; margin-left:4px; margin-top:10px;}
.v3_dashang_con_text ul {list-style:none; margin:0px; padding:0px;}
.v3_dashang_con_text ul li {height:20px; width:480px; margin-left:10px; margin-top:5px;}
.con {width:100%; min-height:140px; _height:140px; background-color:#f9f9f9;}
.con_adv{width:100%; height:57px;}
.bgpic {float:left;}
.details {margin-left:126px; padding-top:15px; text-align:left; line-height:20px;}
.details .name {color:#44719a; font-size:14px; font-weight:bold;}
.details .name span {font-size:12px; padding-left:20px; color:#666; font-weight:normal;}
.details .intro { width:100%; padding-top:6px; word-wrap:break-word; word-break:break-all;}
.details .intro a, .details ul li, .details ul li a{color:#eb6100;}
.details a:hover{ text-decoration: underline}
.details ul li {line-height:20px; margin-top:5px; width:130px; padding-right:5px; float:left; height:20px;  word-wrap:break-word; word-break:break-all; overflow:hidden}

.book_recom_key .v1_content, .book_recom_good .v1_content{margin-top:4px;}
.book_recom_key .v1_content li.no1 , .book_recom_good .v1_content li.no1 {padding:0;}
.book_recom_key .v1_content li.no1 a, .book_recom_good .v1_content li.no1 a{display:block; padding-left:34px; height:100%; position:relative;}
.book_recom_key .v1_content li.no1 a:hover, .book_recom_good .v1_content li.no1 a:hover{padding-left:34px; background-color:#44719a; color:#FFFFFF; text-decoration:none;}
.book_recom_key ol li.gengduo{padding-top:14px;}


.book_upto, .top_girl{width:804px;}
.book_upto_title, .top_title{height:30px; font-family:"微软雅黑"; font-size:18px; color:#eb6100;}
.book_upto_con {width:100%; margin:0; padding:0;}
.book_upto_list {width:100%;}
.book_upto_header, .book_upto_row{width:100%; height:30px;}
.book_upto_header{background:#44719a;}
.book_upto_header li, .book_upto_row ul li {float:left; height:30px; line-height:30px; word-wrap:break-word; word-break:break-all; overflow:hidden;}
.book_upto_header li{ color:#FFFFFF;}
.book_upto_header li.col_cata, .book_upto_row li.col_cata{padding-left:28px; width:100px;}
.book_upto_header li.col_bname, .book_upto_row li.col_bname{width:126px;}
.book_upto_header li.col_upto, .book_upto_row li.col_upto{width:326px;}
.book_upto_header li.col_auth, .book_upto_row li.col_auth{width:128px;}
.book_upto_header li.col_time, .book_upto_row li.col_time{width:88px;}
.book_upto_header li.col_num, .book_upto_row li.col_num{width:60px; text-align:center}
.book_upto_header li.col_stat, .book_upto_row li.col_stat{width:100px;}


.book_upto_row li.col_time, .book_upto_row li.col_num, .book_upto_row li.col_stat{color:#888888;}
.book_upto_row li.col_cata a{color:#eb6100;}
.book_upto_row li.col_upto a{color:#44719a;}
.book_upto_more, .book_upto_page{ padding-right:10px; height:40px; line-height:40px; text-align:right; background-color:#f9f9f9;}
.book_upto_more a{color:#888888;}
.book_cata{width:804px;}
.book_cata .book_upto_header li.col_upto, .book_cata .book_upto_row li.col_upto{width:260px;}
.book_vip .v1_title{ height:30px;}
.book_vip .gengduo{padding:8px 0;}

#link {margin:10px auto 0 auto; width:1024px;}
.link_title {height:24px; font-size:16px; font-family:"微软雅黑"; color:#333333; border-bottom:3px solid #333333;}
.link_list {padding:12px 10px; line-height:22px; background-color:#F6F6F6;}
.link_list a{display:inline-block; margin-right:10px;}

.book_tab {background:#44719a url(../images/font_img.png) no-repeat 3px center; height:36px; width:100%; line-height:36px;}
.book_tab ul.tabs {float:right;}
.book_tab ul.tabs li {color:#DDDDDD; height:100%; cursor:pointer; float:left; line-height:36px;}
.book_tab ul.tabs li a {display:block; color:#ffffff; padding:0 10px;}
.book_tab ul.tabs li a:hover, ul.tabs li.current a {color:#333333; text-decoration:none; background-color:#f9f9f9;}
.sgx_xuan {width:100%;}
.sgx_xuan_con {display:inline; float:left; line-height:15px; margin-left:10px; width:145px;}
.recomm_topic{width:100%; padding-bottom:5px;}
.recomm_topic .title {color:#eb6100; padding-left:10px;}
.recomm_topic ul {list-style:none outside none; margin:0; padding:0;}
.recomm_topic ul li {color:#888888; padding-left:10px; width:210px; overflow:hidden;}
.topic_info{margin-top:10px; margin-bottom:10px; line-height:20px; height:auto; overflow:hidden;}
.topic_info .v1_con{height:100px;}
.topic_intro{padding:0 10px; margin-top:10px;}
.topic_read{text-align:right; padding-right:10px;}
.topic_books {width:188px; padding:10px 0 10px 12px; background-color:#EEEEEE;}
.topic_books h3 {color:#333333;}
.topic_books ul {line-height:20px;}
.topic_books ul li { display:inline; line-height:22px; overflow:hidden;}
.topic_list ul li {line-height:20px; padding-left:10px; overflow:hidden;}
.topic_list ul li a{color:#44719a;}
.topic_list ul li a:hover{color:#eb6100;}

.book_banner{width:100%; overflow:hidden;}
.book_long{ margin-right:-18px; padding-top:10px;}
.book_long li{float:left; width:237px; margin-right:18px;}
.book_cover{padding-right:10px; float:left;}
.book_cover img{width:88px; height:110px;}
.book_intro{ line-height:22px; overflow:hidden;}
.book_intro h3{ font-size:14px; font-weight:bold;}
.book_intro h3 a{color:#44719a;}
.book_intro h3 a:hover{color:#eb6100;}
.book_intro p a{color:#eb6100;}

.top_girl{ overflow:hidden;}
.top_girl .title_bd{color:#c6074f;}
.girl_cont{margin-top:10px; background:#e5276e;}
.girl_cover img{width:474px; height:287px;}
.girl_intro{ padding:10px 15px; overflow:hidden;}
.girl_book{line-height:22px; }
.girl_book p{   word-wrap:break-word; word-break:break-all;overflow: hidden;}
.girl_intro a:hover{color:#fff799;}
.girl_intro h3{ font-size:14px; font-weight:bold;color:#fddcf6;}
.girl_intro h3 a{color:#fddcf6;}
.girl_intro a:hover{color:#fff799;}
.girl_intro p, .girl_intro p a{color:#fddcf6;}
.girl_intro p{ word-wrap:break-word; word-break:break-all;}
.girl_author{line-height:20px; height:100px;  background:#c6074f; overflow:hidden}
.auth_info{ padding:10px;}
.auth_avat img{width:100px; height:100px}
.girl_pub{}
.pub_list ol{margin-top:5px; }
.pub_list ol li{ padding-left:10px; line-height:26px; }
.pub_list ol li span, .pub_list ol li a{display:inline-block; vertical-align:middle;}
.pub_list ol li a{color:333px; margin-left:-5px; width:120px; height:26px; word-wrap:break-word; word-break:break-all;overflow:hidden;}
.pub_list ol li span{ float:right;}
.book_done, .book_done_nav{width:100%;}
.book_done_nav{ height:36px; line-height:36px; background:#F9F9F9; }
.book_done_nav ul li{ float:left; width:9%;}
.book_done_nav ul li a{ display:inline-block; width:100%; height:36px; text-align:center;}
.book_done_nav ul li a:hover, .book_done_nav ul li a.current{ color:#ffffff; background:#44719A; text-decoration:none; }
.book_done .book_upto_header li.col_cata, .book_done .book_upto_row li.col_cata{ padding:0; width:100px; text-align:center}


.book_slide{width:100%; overflow: hidden;background-color:#44719a;}
.book_slide .book_hot_list{padding:0;}

.book_girl .header{background:url(../images/bg_header_girl.png) repeat-x left 30px;}
.book_girl .header_logo, .book_girl .book_upto_header, .book_girl .v1_content li a:hover, .book_girl .v1_content li.no1 a:hover{background:#e5276e;}
.book_girl .v1_content li.first a:hover, .book_girl .v1_content li.gengduo a:hover{background:none;}
.book_girl .indexlogo{width:330px;}
.book_girl .adstop1{padding-left:130px;}
.book_girl .main_menu ul li a:hover, .book_girl .main_menu ul .navon a, .book_girl .book_upto_row li.col_upto a{color:#c6074f;}
.book_girl .book_bang_title{ border-bottom: 1px solid #cccccc;}
.book_girl .title_bd, .book_girl .v1_title{border-bottom: 3px solid #e5276e;}

.book_top{width:240px}
.book_top_tab{width:100%; border-bottom:3px solid #44719a; position:relative;}
.book_top_tab h3{ font-size:16px; height:27px; color:#eb6100; font-family:"微软雅黑";}
.book_top_tab span, .book_top_tab a{display:block;}
.book_top_tab span{ position:absolute; right:0; top:0; overflow:hidden;}
.book_top_tab a{ float:left; margin-left:2px; width:35px; height:18px; line-height:18px; background-color:#eeeeee; text-align:center;}
.book_top_tab a:hover, .book_top_tab a.select{color:#ffffff; width:35px; height:21px; background: url(../images/icon_spr.png) no-repeat -35px -29px; text-decoration:none;}
.book_top_wrap{background-color:#f9f9f9; display:none;}
.book_top_page{min-height:345px; _height:345px; display:none;}
.book_top_page ol{padding-top:8px;}
.book_top_page li{clear: both; line-height: 26px;}
.book_top_page li a{display:block; padding-left:34px; height:100%; word-wrap:break-word; word-break:break-all; position:relative; overflow:hidden;}
.book_top_page li a:hover{background-color:#44719a; color:#FFFFFF; text-decoration:none;}
.book_top_page li.first{padding-bottom:8px; border-bottom:none; height:auto;}
.book_top_page li.first a{display:inline; padding:0; background:none;}
.book_top_page li.first a:hover{color:#eb6100; padding:0; background:none;}
.book_top_page li i{display:block; width:14px; height:14px; line-height:14px; text-align:center; font-size:12px; color:#555555; background-color:#EEEEEE; position:absolute; left:10px; top:7px;}
.book_top_page li a:hover i{color:#555555; background-color:#EEEEEE;}
.book_top_page li.topno2 i, .book_top_page li.topno3 i{color:#FFFFFF; background-color:#eb6100;}
.book_top_page li.topno2 a:hover i, .book_top_page li.topno3 a:hover i{color:#FFFFFF; background-color:#eb6100;}
.book_page_nav{width:100%; height:25px; margin-top:5px;}
.book_page_nav span, .book_page_nav a{display:block;}
.book_page_nav span{float:right; padding-right:5px;}
.book_page_nav a{float:left; margin-left:5px; width:18px; height:18px; text-align:center; line-height:18px; color:#ffffff; background-color:#333333;}
.book_page_nav a:hover, .book_page_nav a.cur{color:#ffffff; background-color:#44719a; text-decoration:none;}

/*搜索结果页style*/
.search_outer{ background-color:#f9f9f9;}
.search_inner{width:1024px; margin:0 auto;}
.book_search{width:804px;}

.search_wrap,.search_form{width:100%;}
.search_box{padding:25px 22px; background-color:#44719a; overflow:hidden;}
.search_tab{height:30px;}
.search_tab a{display:inline-block; padding:0 10px; height:25px; line-height:25px; color:#ffffff;}
.search_tab a:hover{ color:#ffffff; text-decoration:none;}
.search_tab a.select{ height:30px; color:#333333; background:url(../images/icon_spr.png) no-repeat -427px -52px;}
.search_input, .search_btn, .search_tip{ float:left}
.search_form input{width:100%; height:36px; line-height:36px;}
.search_input{width:302px; padding:0 10px; background-color:#ffffff;}
.search_input input{background:none; border:0 none; font-size:12px; color:#888888;}
.search_btn{width:96px;}
.search_btn input{ text-align:center; font-family:"微软雅黑"; font-size:16px; color:#ffffff; background-color:#e98110; cursor:pointer;}
.search_tip{width:310px; height:36px; text-align:left; overflow:hidden;}
.search_tip p{ line-height:36px; color:#ffffff;}
.search_result ul li{min-height:180px; _height:180px; background-color:#f9f9f9; margin-bottom:20px}
.search_result .item_avat{width:125px; height:180px; margin-right:15px;}
.search_result .item_avat img{width:125px; height:180px;}
.search_result .item_info{padding:10px 20px 10px 0;}
.search_result .item_info h3 a{font-size:14px; font-weight:bold;}
.search_result .item_info a b{color:#e98110;}
.search_result .item_info p{line-height:24px;}
.search_result .item_info a{color:#44719a;}
.search_result .item_info a:hover{color:#e98110;}
.search_page{ text-align:right; line-height:30px;}
.search_page span{ display:inline-block; color:#666666;}
.search_page span.num, .search_page span.cur, .search_page span.prev, .search_page span.next{ margin-left:10px;}
.search_page span.cur a, .search_page span.prev a, .search_page span.next a{ padding:2px 5px; color:#ffffff; background-color:#f39800;}

/*搜索首页style*/
.search_logo{width:100%; padding:70px 0; text-align:center;}
.search_index{width:640px; margin:0 auto;}
.search_index .search_box{ padding:0; width:500px; margin:0 auto; background-color:#f9f9f9; overflow:hidden;}
.search_index .search_tab{height:30px; background:#f9f9f9}
.search_index .search_tab a{display:inline-block; padding:0 10px; height:25px; line-height:25px; color:#44719a;}
.search_index .search_tab a:hover{ text-decoration:none;}
.search_index .search_tab a.select{ height:30px; color:#ffffff; background:url(../images/icon_spr.png) no-repeat -427px -89px;}
.search_index .search_form{ height:40px; background-color:#44719a;}
.search_index .search_input, .search_btn{ float:left}
.search_index .search_input{width:394px; padding:0 3px; padding:0; background-color:#44719a;}
.search_index .search_input input{width:384px; padding:0 5px; margin-top:3px; margin-left:3px; height:34px; line-height:34px; background:none; border:0 none; font-size:12px; background-color:#ffffff; color:#888888;}
.search_index .search_btn{width:100px;}
.search_index .search_btn input{ height:40px; line-height:40px; background:none; }
.search_intro{ background-color:#ffffff; margin-top:80px; width:100%; height:280px;}
.saarch_inner{padding:15px 20px;}
.saarch_inner h3{font-weight:bold; font-family:"微软雅黑"; font-size:16px; }
.saarch_inner ul{margin-right:-20px; overflow:hidden;}
.saarch_inner ul li{float:left; width:100px; margin-right:24px;}
.saarch_inner ul li a, .saarch_inner ul li span{display:block; text-align:center;}
.saarch_inner ul li img{width:100px; height:144px;}
.saarch_inner ul li span{margin-top:10px;}
.saarch_inner p{padding:20px 0;}
.saarch_inner p a{display:inline-block; color:#44719a; margin-right:15px;}
.saarch_inner p a:hover{color:#eb6100;}














